<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Inicio de sesión</title>
</head>
<body bgcolor="#f44d00">
<center><h1>Seguimiento KPI's 
<br>Proyecto de Modernización de la Línea 1 STC Metro</br></h1>
        <div class="contenido-tab">
            <div id="iniciar-sesion">
                <h1>Iniciar Sesión</h1>
                <form action="#" method="post">
                    <div class="contenedor-input">
                        <label>
                            Usuario <span class="req">*</span><br></br>
                        </label>
                        <input type="text" required><br></br>
                    </div>

                    <div class="contenedor-input">
                        <label>
                            Contraseña <span class="req">*</span><br></br>
                        </label>
                        <input type="password" required>
                    </div><br></br>
                    <input type="submit" class="button button-block" value="Iniciar Sesión">
                </form>
              </center>
            </div>


</body>
</html>
