<html>
<body bgcolor="#f44d00">
<center><h1>Seguimiento KPI's 
<br>Proyecto de Modernización de la Línea 1 STC Metro</br></h1>
<br></br>
<label> Registrar Incidentes</label>
<br>
<br></br>
<form><a href="formulario_VIAS/"><input type="button" style= width:300px value="VIAS"> </a>
<input type="button" value="TRENES" style=width:300px height:350px>
<input type="button" value="SISTEMAS DE CONTROL" style=width:300px height:350px>
</br>
<br></br>
<br></br>
<br></br>
<input type="button" value="Calcular KPI's" style=width:300px height:350px>

</body>
</html>

  
